name: build pull request

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build the article PDF
    permissions: write-all
    concurrency: "showyourwork-${{ github.ref }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build the article PDF
        id: build
        uses: showyourwork/showyourwork-action@f294fe2eb7275235596ff71c6de7b90d8e849fd6
        with:
          showyourwork-spec: git+https://github.com/vandalt/showyourwork.git@d4286edf4e8fd5d908e03433f7f1600455d15de4#egg=showyourwork
        env:
          SANDBOX_TOKEN: "${{ secrets.SANDBOX_TOKEN }}"
          OVERLEAF_TOKEN: "${{ secrets.OVERLEAF_TOKEN }}"
